<!DOCTYPE html>
{% extends 'todos/index.html'%}

{% block body_block %}
<div class="d-flex justify-content-between">
  <h5 class="text-warning">Completed Tasks</h5> <a href="">Clear All</a>
</div>
<table class="table table-dark ">
  <thead class="bg-light text-dark">
    <tr>
      <th>Items list</th>
      <th>Completed time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    {% if item.user.id == request.session.user_id and item.completed == True %}
    <tr>
      <td> <a href="/todo/{{item.id}}/uncross"><span class="text-white">&#9745;</span></a> <span class="done">{{item.item}}</span></td>
      <td>{{item.updated_at |date:"D d M Y" }}</td>
      <td><a href="/todo/{{item.id}}/confirm" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
  
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}